#translationLabel{
    margin-top: 10px;
}

#translationInput{
    margin-top: 10px;
}

#levelLabel{
    margin-top: 10px;
}

#editWordLevelSelect{
    margin-top: 10px;
}

#wordImageLabel{
    cursor: pointer;
}

